@keyframes ldio-ot26j3uyb4o {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-ot26j3uyb4o div {
  left: 99px;
  top: 46px;
  position: absolute;
  animation: ldio-ot26j3uyb4o linear 1s infinite;
  background: #03dcff;
  width: 2px;
  height: 28px;
  border-radius: 1px / 8.4px;
  transform-origin: 1px 54px;
}.ldio-ot26j3uyb4o div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -0.875s;
   background: #03dcff;
 }.ldio-ot26j3uyb4o div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -0.75s;
    background: #03dcff;
  }.ldio-ot26j3uyb4o div:nth-child(3) {
     transform: rotate(90deg);
     animation-delay: -0.625s;
     background: #03dcff;
   }.ldio-ot26j3uyb4o div:nth-child(4) {
      transform: rotate(135deg);
      animation-delay: -0.5s;
      background: #03dcff;
    }.ldio-ot26j3uyb4o div:nth-child(5) {
       transform: rotate(180deg);
       animation-delay: -0.375s;
       background: #03dcff;
     }.ldio-ot26j3uyb4o div:nth-child(6) {
        transform: rotate(225deg);
        animation-delay: -0.25s;
        background: #03dcff;
      }.ldio-ot26j3uyb4o div:nth-child(7) {
         transform: rotate(270deg);
         animation-delay: -0.125s;
         background: #03dcff;
       }.ldio-ot26j3uyb4o div:nth-child(8) {
          transform: rotate(315deg);
          animation-delay: 0s;
          background: #03dcff;
        }
.loadingio-spinner-spinner-cexw5sx85je {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-ot26j3uyb4o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ot26j3uyb4o div { box-sizing: content-box; }